<header>
  <h1>Mihir Desai</h1>
  <p>Software Developer</p>
</header>

<style>
  header {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--zinc-100);
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--zinc-400);
  }
</style>
